[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = sprintboot demo
[access "refs/*"]
	owner = group user/DongLongcheng (huanglong0438)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/DongLongcheng (huanglong0438)
	label-Verified = -1..+1 group user/DongLongcheng (huanglong0438)
	push = group user/DongLongcheng (huanglong0438)
	read = group user/DongLongcheng (huanglong0438)
	rebase = group user/DongLongcheng (huanglong0438)
	removeReviewer = group user/DongLongcheng (huanglong0438)
	submit = group user/DongLongcheng (huanglong0438)
[access "refs/heads/*"]
	create = group user/DongLongcheng (huanglong0438)
	push = +force group user/DongLongcheng (huanglong0438)
	pushMerge = group user/DongLongcheng (huanglong0438)
	read = group user/DongLongcheng (huanglong0438)
[access "refs/tags/*"]
	push = group user/DongLongcheng (huanglong0438)
	push = +force group user/DongLongcheng (huanglong0438)
